@model IEnumerable<Congreso_1.ViewModels.VistaWebinar>

@{
    ViewBag.Title = "Webinar";
}



    <div class="row" style="background: url(../../Archivos/fondo_Webinar.png); background-size: 100%; background-position-y: -140px;height:auto; background-repeat:no-repeat">
        @*@foreach (var item in Model)
        {
            if (item.Index == 1)
            {
                <button class="boton1pequeño">1</button>
            }
            if (item.Index == 2)
            {
                <button class="boton2pequeño">2</button>
            }
            if (item.Index == 3)
            {
                <button class="boton3pequeño">3</button>
            }
        }*@

    </div>






