
@{
    ViewBag.Title = "StandsWebinars";
}

<div class="row">
    <div class="col-md-6">
        <a href="../Congresses/Index"><button>Congresos</button></a>
    </div>
    <div class="col-md-6">
        <button>Webinars</button>
    </div>
</div>